<section class="features">
  <div class="features__container">
    <div class="feature">
      <h3 class="feature__title">See it all</h3>
      <p class="feature__text">
        From local hotels to global brands, discover millions of rooms all
        around the world.
      </p>
    </div>

    <div class="feature">
      <h3 class="feature__title">Compare right here</h3>
      <p class="feature__text">
        No need to search anywhere else. The biggest choice is a click right
        here.
      </p>
    </div>

    <div class="feature">
      <h3 class="feature__title">Get exclusive rates</h3>
      <p class="feature__text">
        We've got special deals with the world's leading hotels and travel
        savings with you.
      </p>
    </div>
  </div>
</section>
